<%- include("./header.ejs") %> <%- include("./navbar.ejs") %>



<div class="container">
    <h1 style="padding-top: 150px">Edit Product</h1>

    <form
        action="/product/<%= product.id %>?_method=patch" 
        method="post"
        class="row g-3 needs-validation"
        novalidate
    >
        <div class="mb-3 col-6">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                name="title"
                placeholder="Title"
                class="form-control"
                id="title"
                value="<%= product.title %>"
                required
            />
        </div>
        <br /><br />

        <div class="mb-3 col-6">
            <label for="title" class="form-label">Price</label>
            <input
                type="number"
                name="price"
                placeholder="Price"
                class="form-control"
                id="number"
                value="<%= product.price %>"
                required
            />
        </div>
        <br /><br />
        <div class="mb-3 col-12">
            <label for="image" class="form-label">Blog Image URL</label>
            <input
                type="text"
                name="image"
                placeholder="Image"
                class="form-control"
                id="image"
                value="<%= product.image %>"
            />
        </div>
        <br /><br />

        <div class="mb-3 col-12">
            <label for="desc" class="form-label">Description</label>
            <textarea
                name="description"
                placeholder="Description"
                class="form-control"
                id="desc"
                rows="12"
                required
            ><%= product.description %></textarea>
        </div>
        <input
            class="col-3 btn btn-primary mb-5 ml-3"
            type="submit"
            value="Submit"
        />
    </form>
</div>

<%- include("./footer.ejs") %>
