<%- include("../partials/header") %> <%- include("../partials/navbar") %>
<link rel="stylesheet" href="/css/app.css">

<div class="container">
    <h1>Edit Product</h1>

    <form
        action="/product/<%= product.id %>?_method=patch" 
        method="post"
        class="row g-3 needs-validation"
        novalidate
    >
        <div class="mb-3 col-6">
            <label for="title" class="form-label">Title</label>
            <input
                type="text"
                name="product[title]"
                placeholder="Title"
                class="form-control"
                id="title"
                value="<%= product.title %>"
                required
            />
        </div>
        <br /><br />

        <div class="mb-3 col-6">
            <label for="title" class="form-label">Price</label>
            <input
                type="number"
                name="product[price]"
                placeholder="Price"
                class="form-control"
                id="number"
                value="<%= product.price %>"
                required
            />
        </div>
        <br /><br />
        <div class="mb-3 col-12">
            <label for="image" class="form-label">Blog Image URL</label>
            <input
                type="text"
                name="product[image]"
                placeholder="Image"
                class="form-control"
                id="image"
                value="<%= product.image %>"
            />
        </div>
        <br /><br />

        <div class="mb-3 col-12">
            <label for="desc" class="form-label">Description</label>
            <textarea
                name="product[description]"
                placeholder="Description"
                class="form-control"
                id="desc"
                rows="12"
                required
            ><%= product.description %></textarea>
        </div>
        <button
            class="col-3 btn btn-main mb-5 ml-3"
            type="submit"
        >Submit</button>
    </form>
</div>
<%- include("../partials/footer") %>
