<%- include("../partials/header") %> <%- include("../partials/navbar") %>
<link rel="stylesheet" href="/css/app.css" />

<div class="container"><%- include('../partials/flash') %></div>
<div class="products">
    <h2>Newest Products</h2>

    <div class="cards-container">
        <% for(let prod of products){ %>

        <div class="product-card">
            <div class="icons">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <a href="/product/<%= prod.id %>">
                <img src="<%= prod.images[0] %>" alt="" />
                <div class="name"><%= prod.title %></div>
                <div class="price">&#8377;<%= prod.price %></div>
            </a>
        </div>

        <% } %>
    </div>
</div>
<%- include("../partials/footer") %>
