<%- include("./header.ejs") %> <%- include("./navbar.ejs") %>
<div class="products">
    <h2>Newest Products</h2>

    <div class="cards-container">
        <% for(let prod of products){ %>

        <div class="card">
            <div class="icons">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <img src="<%= prod.image %>" alt="" />
            <a href="/product/<%= prod.id %>">
                <div class="name"><%= prod.title %></div>
                <div class="price">$<%= prod.price %></div>
            </a>
        </div>

        <% } %>
    </div>
</div>
<script src="/js/icons.js"></script>
<%- include("./footer.ejs") %>
